@media (max-width: 480px) {
  body {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background-color: #fff;
    color: #1c1c1c;
    -webkit-font-smoothing: antialiased !important;
  }
  header {}
  .container {
    width: 100%;
  }
  .row,
  h1 {
    font-size: 1.2em;
    text-indent: 5%;
  }
  .prod-description {
    font-family: "Questrial";
    font-size: 400;
  }
  nav {
    width: 100%;
    background-image: url(/css/pics/textures/bg_header.png);
    /*border-top: 1px solid #666;*/
  }
  .mobile {
    display: none;
    text-align: center;
    width: 100%;
    /*margin-left: 65%;*/
    background-color: #FFF;
  }
  .mobile ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .mobile li {
    height: 30px;
    background-color: #333;
    position: relative;
    display: block;
    margin: 0 0px 0px 0;
  }
  .dropdown li {
    height: 30px;
  }
  .mobile li >ul:first-child {
    visibility: hidden;
  }
  .mobile li a {
    color: #FFF;
    text-decoration: none;
  }
  .mobile > li > a {
    font-size: 1.2em;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
  }
  .mobile > li > a.active,
  .mobile li a.active {
    color: #FF450D;
  }
  .navigation {
    display: none;
  }
  .col {
    margin: 5% 10% 5% 5%;
    /*top, right, bottom, left*/
  }
  .span_1_of_4,
  .span_2_of_4,
  .span_3_of_4,
  .span_4_of_4 {
    width: 90%;
  }
  .img-circle {
    height: 50%;
    width: 100%;
    border-radius: 15%;
  }
  button {
    height: 30px;
    width: 60px;
    margin: 2% 0 0 72%;
    box-shadow: 0px 1px 4px #666666;
    font-family: 'Quicksand';
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  button:hover {
    text-decoration: none;
  }
  /*
  BACK TO TOP FUNCTION
  */
  .back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #27AE61 url("../css/pics/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  a:hover.back-to-top {
    background-color: #000;
  }
  /*
=============================================
FOOTER START
=============================================
*/
  footer {
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 50px 50px 50px 50px;
    /*top right bottom left */
    background-color: #333;
  }
  .footer-content {
    float: right;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}