@media (max-width: 480px) {
  body {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
  }
  header {
    padding-bottom: 10px;
    width: 100%;
  }
  .clearfix {
    clear: both;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  .container-cust {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  a {
    text-decoration: none;
    color: #FFF;
    display: block;
  }
  .row,
  h1 {
    font-size: 1.2em;
    text-indent: 5%;
  }
  .prod-description {
    font-family: "Questrial";
    font-size: 14px;
  }
  .logo {
    height: 5px;
  }
  .mob-button {
    background-color: #000;
    color: #FFF;
    height: 40px;
    width: 60px;
  }
  .mob-header {
    background-image: url(../css//pics/textures/mob_nav.png);
    width: 100%;
    top: 50px;
  }
  nav {
    transition: top 0.5s ease-in-out;
    width: auto;
  }
  .mobile {
    font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    background-color: #333;
    display: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .mobile ul {}
  .mobile ul li {
    text-decoration: none;
    padding-top: 15px;
    text-align: justify;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-bottom: 1px dashed #999;
    height: 40px;
    background-image: url(pics/textures/mob_nav.png);
  }
  .mobile ul li:last-child {
    border-bottom: 2px solid #333;
  }
  .mobile > ul > li {
    position: relative;
    border-bottom: 1px dashed #999;
    margin-right: 1px;
  }
  .mobile > ul > li > a {
    display: block;
    text-decoration: none;
  }
  .mobile ul ul {
    width: 100%;
    position: absolute;
    z-index: 55;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
  }
  .mobile ul ul li {
    width: auto;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  .mobile ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 0;
  }
  .mobile ul ul li + li a {
    color: #FFF;
  }
  .navigation {
    display: none;
  }
  .navigation-up {
    top: -100px;
  }
  .col {
    margin: 5% 10% 5% 5%;
    /*top, right, bottom, left*/
  }
  .span_1_of_4,
  .span_2_of_4,
  .span_3_of_4,
  .span_4_of_4 {
    width: 90%;
  }
  .img-circle {
    height: 50%;
    width: 100%;
    border-radius: 15%;
  }
  button {
    border-radius: 15%;
    height: 30px;
    width: 60px;
    margin: 5px 0 0 75%;
    /*top, right, bottom, left*/
    box-shadow: 0px 1px 4px #666666;
    font-family: 'Quicksand';
    color: #333;
    font-size: 14px;
    text-decoration: none;
    z-index: 99;
    position: relative;
  }
  button:hover {
    text-decoration: none;
  }
  #index-main-holder {
    line-height: 2.0em;
    z-index: 8888;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /* TOP, RIGHT, BOTTOM, LEFT */
  }
  #index-main-holder h1 {
    color: #000;
    text-transform: uppercase;
    font-family: 'Quicksand', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2.6em;
  }
  #index-main-holder p {
    font-family: 'Questrial', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.3em;
    padding-bottom: 1.0em;
  }
  #main-ui-slider {
    z-index: 7777;
    margin-right: auto;
    margin-left: auto;
  }
  #main-holder {
    z-index: 8888;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0 145px 0;
    padding-top: 40px;
    /* TOP, RIGHT, BOTTOM, LEFT */
  }
  footer #social-section > .scl > .social-text {
    display: none;
  }
  .fa {
    margin-left: 35px;
    margin-right: auto;
    float: left;
    padding-right: 15px;
  }
  /*
=============================================
IMAGE SLIDER  
=============================================
*/
  .fade-in-holder {
    width: 100%;
    height: 100%;
  }
  .fadein {
    z-index: -1;
    position: relative;
    height: auto;
  }
  .fadein img {
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .row-devider {
    padding: 35px 0 0 0;
    background-color: #333;
  }
  /*
  =======================================
  BACK TO TOP FUNCTION
  =======================================
  */
  .back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: rgba(65, 65, 65, 0.5) url("../css/pics/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  a:hover.back-to-top {
    background-color: rgba(0, 0, 0, 0.3);
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .img-circle {
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 15%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .image-box {
    background: #f4f4f4;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
  }
  .image-box.image:before {
    border: 1px solid white;
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
  }
  .image-box:after {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #bbbbbb;
    left: 1px;
    top: 1px;
  }
  /*
=============================================
FOOTER START
=============================================
*/
  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 20px 50px 0px 10px;
    /*top right bottom left */
    background-image: url(../css//pics/textures/mob_nav.png);
  }
  #footer-content {
    font-size: 0.8em;
    padding-bottom: 25px;
    float: left;
  }
  /* 
  =============================================
  CSS FORMSTYLING SLUT
  =============================================
  !!!!!!!!!!!!!! +++ OBS!! ++ !!!!!!!!!!!!!!!!!!!!!!!!;
  LAGT TILL CSS FORMSTYLING TA BORT OM DET EJ FUNKAR */
  prod-form {
    float: left;
    margin-left: 15px;
    width: 100%;
  }
  .form p {
    margin: 10px;
  }
  .blank-form-row {
    margin-bottom: 5px;
  }
  input,
  textarea {
    padding: 10px;
    border: solid 1px ORANGE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0;
    font-family: 'Questrial', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    width: 90%;
    background: #FFFFFF url(image_1.png) left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  textarea {
    font-family: 'Questrial', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    max-width: 100%;
    line-height: 150%;
  }
  #form_antal {
    width: 5.4em;
    text-align: right;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border-color: gray;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    ;
  }
  .form label,
  select {
    font-size: 1.0em;
    font-family: 'Questrial', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    /* margin-left: 10px;*/
    padding: 4px 4px 4px 4px;
    /*top, right, bottom left */
    color: #121212;
  }
  /*inte visa error*/
  .error {
    display: none;
    margin-left: 10px;
  }
  /*visa error*/
  .error_show {
    color: red;
    margin-left: 10px;
  }
  /*fel inmat*/
  input.invalid,
  textarea.invalid {
    border: 1px solid red;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  /*rätt inmat*/
  input.valid,
  textarea.valid {
    border: 1px solid green;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  /* frågeform*/
  label {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
  }
  /* placerar popup-rutan*/
  .popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
  }
  /* bagrund och skugga */
  .popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
  }
  .overlay {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
  }
  #boxclose {
    float: right;
    margin-top: -9em;
    margin-right: -30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
  }
  #boxclose:before {
    content: "×";
  }
  button {
    display: block;
  }
  .sub-button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    width: 60px;
    margin: 2% 0 0 50%;
    /*top, right, bottom, left*/
    box-shadow: 0px 1px 4px #666666;
    font-family: 'Quicksand';
    color: #333;
    font-size: 14px;
    text-decoration: none;
    z-index: 99;
    position: relative;
  }
  button:hover {
    text-decoration: none;
  }
  textarea {
    vertical-align: top;
    height: 5em;
  }
  /*============
  borde kunna slå ihop dessa två.. fixa sen
  =================*/
  .showbutton {
    /* display: block;*/
    width: 75px;
    background-color: orange;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
  }
  .showbutton:active {
    position: relative;
    top: 1px;
  }
  .close {
    display: block;
    width: 75px;
    background-color: orange;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
    background: -moz-linear-gradient(top, #FFA500, #ffc966);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFA500", endColorstr="#ffc966");
  }
  .close:active {
    position: relative;
    top: 1px;
  }
  /*==Button to open form==*/
  .furryshow {
    z-index: 0;
    /*display: block;*/
    height: 30px;
    width: 150px;
    background-color: orange;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-weight: bold;
  }
  .furryshow:active {
    position: relative;
    top: 1px;
  }
}