/*
STANDARD STYLING STARTS HERE
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

header {
    background-image: url(pics/textures/bg_header.png);
    height: 95px;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.clearfix {
    clear: both;
}


.logo {
    width: 150px;
    height: auto;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 10000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo > h1 {
    z-index: 99;
    font-size: 42px;
    font-weight: bold;
    color: orange;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 25px;
    width: 85%;
        transition: top 0.3s ease-in-out;
}

.container-pad-top {
    padding-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    margin: -40px auto;
}

.container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

.row > h1 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#main-ui-slider {
    z-index: -1;
    z-index: 7777;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15%;
}

#index-main-holder {
    z-index: 8888;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40%;
    /* TOP, RIGHT, BOTTOM, LEFT */
}

#main-holder {
    z-index: 8888;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 0 145px 0;
    /* TOP, RIGHT, BOTTOM, LEFT */
}


/*
=============================================
NAVIGATION START
=============================================
*/

nav {
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.navigation {
    font-family: 'Quicksand';
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0 5px 0;
    /*top right bottom left */
}

.navigation ul {
    /* TA BORT PRICKEN: */
    list-style: none;
    /* TA BORT DEFULT VÄRDEN OCH ÄRVDA MARGINALER OCH PADDINGS: */
    margin: 0;
    padding: 0;
    /* styling: */
    font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.navigation > ul > li {
    position: relative;
    float: left;
    margin-right: 1px;
}

.navigation > ul > li > a {
    display: block;
    background: rgba(44, 44, 44, 0.0);
    padding: 8px 14px;
    text-decoration: none;
    color: #aaaaaa;
}
.navigation > ul > li > a.active{
    color: #FFF;
}
.navigation > ul > li > a:hover {
    background: rgba(252, 0, 0, 0.0);
    color: #FFF;
}

.navigation ul ul {
    width: 120%;
    position: absolute;
    z-index: 100;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 1px 4px #666666;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.navigation > ul > li:hover ul,
.navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul,
.navigation ul ul li a:hover > ul {
    height: auto;
}

.navigation ul ul li {
    background: rgba(234, 234, 234, 0.9);
    width: auto;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navigation ul ul li:hover {
    background-color: #999;
}

.navigation ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 0;
    color: orange;
    font-weight: bold;
}

.navigation ul ul li a:hover,
.navigation ul ul li:hover > a {
    color: #ffffff;
}

.navigation ul ul li + li a {
    border-top: 1px dotted #999;
}

.navigation ul ul li:hover + li a {
    border-top: 1px solid #eaeaea;
}

.navigation-up {
    z-index: 99;
    top: -50px;
}


/*
=============================================
MOBILENAV
=============================================
*/

.mobile {
    display: none;
    /* GÖMMER MOBILNAVEN*/
    position: fixed;
    width: 100%;
    top: 0;
}

.mobile div {
    display: none;
}

button.mob-button {
    display: none;
}


/*  
=============================================
IMAGE SLIDER  
=============================================
*/

.fade-in-holder {
    width: 100%;
    height: 100%;
}

.fadein {
    z-index: -1;
    position: relative;
}

.fadein img {
    position: absolute;
    left: 0%;
    top: 0%;
}

.row-devider {
    padding: 35px 0 0 0;
    background-color: #333;
}


/*  
=============================================
SECTIONS  
=============================================
*/

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

#budget {
    padding-top: 100px;
}


/*   
=============================================
COLUMN SETUP  
=============================================
*/

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.2%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}


/* 
===============================
GRID OF FOUR  
===============================
*/

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

.shadow-box {
    position: relative;
    width: 90%;
}

.shadow-box:before,
.shadow-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.shadow-box:after {
    border-radius: 0 0 120px 120px / 0 0 6px 6px;
}


/*
=============================================
IMAGES
=============================================
*/

img {
    max-width: 100%;
    height: auto;
}

.img-circle {
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 15%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.image-box {
    background: #f4f4f4;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.image-box.image:before {
    border: 1px solid white;
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
}

.image-box:after {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #bbbbbb;
    left: 1px;
    top: 1px;
}


/*
=======================================
    SOCIAL SECTION STYLES
==================================================*/

#social-section {
    float: left;
    padding-right: 45%;
}

.scl {
    text-align: center;
    padding-right: 25px;
    display: inline-block;
    color: #FFF;
}

.scl h4 {
    font-size: 1.0em;
}

.scl a {
    color: #FFF
}

.scl a:hover {
    color: ORANGE;
}

.scl-dark-bk {
    background: rgb(65, 65, 65);
}


/*
=============================================
FOOTER START
=============================================
*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 25px 0 45px 0;
    /*top right bottom left */
    border-top: 2px solid #FFF;
    background-image: url(../css//pics/textures/mob_nav.png);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.32);
}

.footer-content {
    padding-left: 50%;
    float: left;
}

.back-to-top {
    display: none;
    width: 50px;
    height: 60px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: rgba(255, 137, 0, 0.5) url("../css/pics/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 40%;
}

a:hover.back-to-top {
    background: rgba(65, 65, 65, 0.5) url("../css/pics/up-arrow.png") no-repeat center 43%;
}


/*FORMULÄRKNAPPAR*/


/*============borde kunna slå ihop dessa två.. fixa sen=================*/

.showbutton {
    display: block;
    background-color: orange;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
}

.showbutton:hover {
    background: #FFA500;
}

.showbutton:active {
    position: relative;
    top: 1px;
}

.close {
    display: block;
    background-color: orange;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
    background: -moz-linear-gradient(top, #FFA500, #ffc966);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFA500", endColorstr="#ffc966");
}

.close:hover {
    background: #FFA500;
}

.close:active {
    position: relative;
    top: 1px;
}


/*==Button to open form==*/

.furryshow {
    display: block;
    background-color: orange;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#ffc966));
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-weight: bold;
}

.furryshow:hover {
    background: #FFA500;
}

.furryshow:active {
    position: relative;
    top: 1px;
}