/*

OVERLAY AND BACKGROUND

*/

.overlay {
    background: transparent url(/css/pics/textures/overlay/01.png);
    opacity: .5;
    z-index: -1;
}

.background {
    background-image: url(/css/pics/textures/mainback.jpg);
    opacity: .5;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none!important;
    z-index: -2;
}

.overlay,
.background {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*

STANDARD STYLING STARTS HERE

*/

body {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background-color: #fff;
    color: #1c1c1c;
    -webkit-font-smoothing: antialiased !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 20px;
}

.space-free {
    height: 100px;
}

.g-pad-bottom {
    padding-bottom: 40px;
}

#main-ui {
    width: 100%;
    background-color: #FFF;
    margin: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*
=============================================
NAVIGATION START
=============================================
*/

nav {
    font-weight: bold;
    border-bottom: 15px solid #666;
    width: 100%;
    padding: 20px 50px 20px 50px;
    /*top right bottom left */
    background-color: #1c1c1c;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.navbar {
    font-family: 'Quicksand';
    background-color: #FFF;
}

.navbar-menu-right {
    background-color: #FFF;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-menu-right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navbar-menu-right li {
    position: relative;
    display: inline-block;
    margin: 0 0px -5px 0;
   
}

.navbar-menu-right li >ul:first-child {
    visibility: hidden;
}

.navbar-menu-right li a {
    color: #1c1c1c;
    text-decoration: none;
  
}

.navbar-menu-right > li > a {
    font-size: 1.2em;
    line-height: 24px;
    padding: 0 15px;
    text-transform: uppercase;
}

.navbar-menu-right a:hover {
    border-bottom: 2px solid #FF450D;
    color: #FF450D;
    display: block;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.navbar-menu-right > li > a.active,
.navbar-menu-right li a.active {
    color: #FF450D;
}




/*  
=============================================
SECTIONS  
=============================================
*/

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*   
=============================================
COLUMN SETUP  
=============================================
*/

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF FOUR  */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100%;
    }
}


/*
=============================================
IMAGES
=============================================
*/

.img-holder {}

.img-circle {
    border: 1px dashed #FF530D;
    border-radius: 12%;
}


/*
=============================================
FOOTER START
=============================================
*/

#footer-content {
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    /*top right bottom left */
    background-color: #333;
}
