/*
STANDARD STYLING STARTS HERE
*/

body {
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 1b7fb6116e6c3bd6e0689a39e84e34174de43f7d
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    /*color: #1c1c1c;*/
    -webkit-font-smoothing: antialiased !important;
}

header {
    padding: 0px 0 0px 0;
    /* TOP, RIGHT, BOTTOM, LEFT */
}

.logo > h1 {
    font-size: 42px;
    font-weight: bold;
    color: orange;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 25px;
    width: 85%;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.row > h1 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.space-free {
    height: 100px;
}

.g-pad-bottom {
    padding-bottom: 40px;
}


/*
==========================================
CAROUSELL
==========================================
*/

#main-ui {
    padding: 0 0 200px 0;
    /* TOP, RIGHT, BOTTOM, LEFT */
    background-color: #333;
    border-bottom: 1px solid #333;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.carousell {
    height: 100%;
}

.fadein {
    position: absolute;
    width: 75%;
    height: 35%;
}

.fadein img {
    position: absolute;
    left: 0;
    top: 0;
}

.text-scroll {
    margin-right: auto;
    margin-left: auto;
    font-family: "Questrial";
    font-size: 1.0em;
    width: 150px;
}


/*
=============================================
LOGO START
=============================================
*/

#main-holder {
    margin-right: auto;
    margin-left: auto;
    /* TOP, RIGHT, BOTTOM, LEFT */
}


/*
=============================================
NAVIGATION START
=============================================
*/

nav {
    width: 100%;
    height: 95px;
    background-image: url(/css/pics/textures/bg_header.png);
    /*border-top: 1px solid #666;*/
}

.navigation {
    font-family: 'Quicksand';
    /*overflow: hidden;*/
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    padding: 10px 0 45px 0;
    /*top right bottom left */
}

.navigation ul {
    /* TA BORT PRICKEN: */
    list-style: none;
    /* TA BORT DEFULT VÄRDEN OCH ÄRVDA MARGINALER OCH PADDINGS: */
    margin: 0;
    padding: 0;
    /* styling: */
    font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.navigation > ul > li {
    /* positioning */
    position: relative;
    float: left;
    /* styling: */
    margin-right: 1px;
}

.navigation > ul > li > a {
    /* positioning */
    display: block;
    /* styling: */
    background: rgba(44, 44, 44, 0.0);
    /*  grey */
    padding: 8px 14px;
    text-decoration: none;
    color: #aaaaaa;
}

.navigation > ul > li > a:hover {
    /* styling: */
    background: rgba(252, 0, 0, 0.0);
    /* grey */
    color: #FFF;
    /* light grey */
}

.navigation ul ul {
    width: 120%;
    /* you need a width to accommodate tertiary menus */
    position: absolute;
    z-index: 100;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.navigation > ul > li:hover ul,
.navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul,
.navigation ul ul li a:hover > ul {
    height: 220px;
    /* need a height to accommodate any tertiary menus */
}


/* if you want different styling for tertiary menus, just copy the 4 rules below and insert an additional ul: for example: ".navigation ul ul li", becomes: ".navigation ul ul ul li" */

.navigation ul ul li {
    background: rgba(234, 234, 234, 0.9);
    /* grey */
    width: auto;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navigation ul ul li:hover {
    background-color: #999;
    /* grey */
}

.navigation ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 0;
    color: orange;
    font-weight: bold;
    /* grey */
}

.navigation ul ul li a:hover,
.navigation ul ul li:hover > a {
    color: #ffffff;
    /* white */
}

.navigation ul ul li + li a {
    border-top: 1px dotted #999;
}

.navigation ul ul li:hover + li a {
    border-top: 1px solid #eaeaea;
}


/*
=============================================
MOBILENAV
=============================================
*/

.mobile {
    display: none;
    /* GÖMMER MOBILNAVEN*/
    position: fixed;
    width: 100%;
    top: 0;
}

.mobile div {
    display: none;
}

button {
    display: none;
}


/*  
=============================================
IMAGE SLIDER  
=============================================
*/

.fade-in-holder {
    padding-top: 90px;
    height: 450px;
    width: 100%;
}

.row-devider {
    padding: 35px 0 0 0;
    background-color: #333;
}


/*  
=============================================
SECTIONS  
=============================================
*/

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
#budget{
    padding-top: 100px;
}

/*   
=============================================
COLUMN SETUP  
=============================================
*/

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.2%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}


/*  GRID OF FOUR  */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

.shadow-box {
  position: relative;
  width: 90%;
}

.shadow-box:before,
.shadow-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow :0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

.shadow-box:after{
border-radius: 0 0 120px 120px / 0 0 6px 6px;
}

/*
=============================================
IMAGES
=============================================
*/

.img-holder {}

.img-circle {
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 15%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.image-box {
    background: #f4f4f4;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.image-box.image:before {
    border: 1px solid white;
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
}

.image-box:after {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #bbbbbb;
    left: 1px;
    top: 1px;
}


/*=======================================
    SOCIAL SECTION STYLES
==================================================*/

#social-section {
    float: left;
    padding-right: 45%;
}

.scl {
    text-align: center;
    padding-right: 25px;
    display: inline-block;
    color: #FFF;
}

.scl h4 {
    font-size: 1.0em;
}

.scl a {
    color: #FFF
}

.scl a:hover {
    color: rgba(64, 0, 0, 0.8)
}

.scl-dark-bk {
    background: rgb(65, 65, 65);
}


/*
=============================================
FOOTER START
=============================================
*/

footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 25px 0 50px 0;
    /*top right bottom left */
    background-image: url(/css/pics/textures/bg_footer.png);
}

.footer-content {
    padding-left: 50%;
    float: left;
}

.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: rgba(64, 0, 0, 0.8) url("../css/pics/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 35%;
}

a:hover.back-to-top {
    background: rgba(65, 65, 65, 0.5) url("../css/pics/up-arrow.png") no-repeat center 43%;
}
